body { position:absolute; width:100%; height:100%; left:0; right:0; padding:0; margin:0; background-image: url("images/background.png"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

li { cursor: pointer; } 

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 5px black; border-radius: 10px; }
::-webkit-scrollbar-thumb { background: #000; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #000; }

.selected { padding: 7px 11px; margin: 0; text-decoration: none; position: relative; background: transparent; border: 4px solid #5554a2; border-left: none; border-right: none; border-bottom: none; -moz-box-shadow: #120e09 0 -10px 40px -10px inset; -webkit-box-shadow: #120e09 0 -10px 40px -10px inset; box-shadow: #866843 0 -10px 40px -10px inset; }

/* CSS FOR NAVIGATION START */
nav { margin: 10px auto; padding: 0 0 0 5px; border-width: 1px; border-style: solid; background: #efcdeb29; width: 90%; height: 40px; }
nav ul { margin: 0; position: relative; z-index: 6; }
nav ul li { padding: 0 5px; float: left; list-style: none; width: 30%; }
nav ul li a { font: bold 17px Arial Narrow, sans-serif; color: #fff; text-decoration: none; text-transform: uppercase; padding: 13px 11px; display: block; }
nav ul li a div { position: relative; z-index: 1; background-image: -webkit-linear-gradient(#32358e 45%, #52592a);
    -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #fff; text-align: center; }
nav:before, nav ul li a:hover:before, nav ul li a.current:before {display: block; content: ""; }
nav, nav:before, nav ul li a:hover, nav ul li a.current, nav ul li a:hover:before, nav ul li a.current:before {
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
nav ul li a div:after {
    background: none; content: attr(data-text); left: 0; position: absolute; top: 0; z-index: -1; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
nav ul li a:hover, nav ul li a.current { padding: 7px 11px; margin: 0; text-decoration: none; position: relative; background: transparent; border: 4px solid #5554a2; border-left: none; border-right: none; border-bottom: none; -moz-box-shadow: #120e09 0 -10px 40px -10px inset; -webkit-box-shadow: #120e09 0 -10px 40px -10px inset; box-shadow: #866843 0 -10px 40px -10px inset; }
nav ul li a:hover:before, nav ul li a.current:before {
    width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px 0; box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px 0; }
/* CSS FOR NAVIGATION END */

/* CSS FOR MAIN SCREEN START */
#mainContent{ color: black; width: 88%; left: 5%; top: 50px; position: absolute; padding: 1%; border-radius: 5px; margin: 0 auto; overflow: hidden; }
.roundedBoxContainer { margin: 0 auto; }
.roundedBox { border: 5px solid #c46488; height: 150px; width: 150px; float: left; margin: 10px; padding: 0; position: relative;
    border-radius: 50px; background: #ef285f; color: black; font: bold 14 sans-serif; }
.leftItems { position: absolute; width: 50%; height: 100%; }
.rightItems { position: absolute; width: 50%; right: 0; height: 100%; }
.leftItems > div { margin: auto 0; display: inline; width: 80%; position: absolute; height: 40%; top: 25%; padding: 10%; }
.leftItems > div > img { height: 100%; }
.rightItems > div { height: 50px; margin: 0 auto; line-height: 25px; text-align: center; top: 35px; position: relative; width: 85%; padding-right: 15%; }
.rightHeader { margin-bottom: 0; }
.rightContent { margin-top: 0; }
/* CSS FOR MAIN SCREEN END */

/* CSS FOR POPUP START */
#inputPopup { display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; }
.glassBackground { position: absolute; left: 0; right: 0; top: 0; bottom: 0; padding: 0; z-index: 10; opacity: 0.8; background: #000; }
.inputContainer { width: 80%; height: 80%; margin: 0 auto; z-index: 10; position: absolute; left: 10%; line-height: 60px; text-align: center; top: 10%; }
.boundary { border: 1px solid white; width: 60%; height: 80%; top: 10%; left: 20%; position: absolute; border-radius: 50%; background: #38dc63; }
.innerCircle { position: absolute; width: 50%; height: 50%; border: 1px solid white; left: 25%; top: 25%; border-radius: 50%; }
.pitch { position: absolute; width: 20%; height: 60%; top: 20%; left: 40%; background: #b7b719; }
.close { position: absolute; right: 0; top: 0; color: red; width: 30px; height: 30px; border: 2px solid #80862d; line-height: 2; border-radius: 15px; }
.playerInGrid { position: absolute; height: 20px; width: 100px; line-height: 1; font-size: 10px; }
/* CSS FOR POPUP END */

/* CSS FOR TEAM START */
.myTeam { float: left; width: 49%; height: auto; overflow: auto; position: relative; border: 1px solid black; border-radius: 6px; padding: 3px 5px; }
.teamList { float: right; width: 49%; height: 100%; overflow: auto; border: 1px solid black; border-radius: 6px; padding: 3px 5px; }
.leftTeamItems { float: left; width: 100%; }
.leftTeamItems > ul { display: flex; margin: 0; width: 100%; }
.centerTeamItems { float:left; width:90%; }
.centerTeamItems > ul, .rightTeamItems > ul { margin: 0; }
.rightTeamItems { float:left; width: 10%; }
.myTeam ul { list-style: none; padding: 0; margin: 0; }
#saveteam { padding: 3px 10px; border-radius: 10px; background: #776ec385; color: black; border: 1px solid black; width: 50px; float: left; }
.teamList ul { list-style: none; padding: 0; }
.leftTeamItems ul li { padding: 7px 0 0 0; background: #6b9ea075; border-bottom: 1px solid grey; width: 20%; text-align: center; color: black; }
.leftTeamItems img { width: 25px; }
.rightTeamItems ul li { padding: 9px; background: #6b9ea075; border-bottom: 1px solid grey; }
.centerTeamItems ul li { padding: 6px 10px 3px 10px; background: #abced036; border-bottom: 1px solid grey; height: 21px; color: black; font-size: 13px; font-weight: bold; }
span.playerName { width: 50%; float: left; }
span.playerTeam { width: 35%; float: left; }
span.playerPrice { width: 10%; float: left; } 
span.addPlayer { width: 5%; float: left; }
.myTeam > div { width: 100%;}
.myTeam li { padding: 3px 10px; border-bottom: 1px solid grey; text-align: center; margin: 0 10px 0 0; height: 30px; background: #ec9de347; position: relative; color: #000000; font-weight: bold; font-size: 13px; }
.budgetSub { color: black; padding: 10px 5px; width: 47%; float: left; margin: 0; text-decoration: none; position: relative; background: transparent; -moz-box-shadow: #120e09 0 -10px 40px -10px inset; -webkit-box-shadow: #120e09 0 -10px 40px -10px inset; box-shadow: #866843 0 -10px 40px -10px inset; }
#budgetAndSubsLeftMessage { top: 0; right: 0; width: 100%; height: 40px; font-weight: bold; }

.infoteams { margin-top: 5px; }

/* COUNTRIES START */
.allCountries { height:30px; width: 40px; background: url(../icons/flags/flags.png) no-repeat; }
.India { background-position: -200px -180px; }
.Pakistan { background-position: -280px -180px; }
.Australia { background-position: 0 -30px; }
.Afghanistan { background-position: -40px 0; }
.Bangladesh { background-position: -80px -30px; }
.England { background-position: 0 -150px; }
.NewZealand { background-position: -280px -120px; }
.SouthAfrica { background-position: -280px -270px; }
.SriLanka { background-position: -320px -210px; }
.WestIndies { background-position: -200px -330px; }
/* COUNTRIES END */

/* CSS FOR TEAM START */
.roles { width: 18px; position: relative; top: -5px; left: 4px; }
.playerInGrid .roles { top: -4px; left: -8px; }
.iconContainer { float: left; width: 60px; }
.playerInfo { float: left; margin: 8px 0 0 8px; }
img.deletePlayer { width: 23px; float: right; }
span.captain { position: relative; right: -5px; top: 5px; }
span.captain > span { margin: 5px; background: #c7c1dc; border-radius: 10px; }
span.captain > img { width: 20px; }

.iconContainer { float:left; width: 60px; }
.pPrice { margin-left: 6px; }
#errorMessage { color: red; width: 60%; font-weight: bold; font-size: 18px; padding: 2px 5px; border: 1px solid black; background: #d2d2a7; text-align: center; float: left; display: inline; }
/* CSS FOR TEAM END */

/* CSS FOR LIVE DATA START */
.liveData { width: 100%; display: inline-block; position: relative; }
.liveData table table td { padding-left: 10px; }
.allLiveScores { position: absolute; left: 20%; right: 0; top: 15px; bottom : 0; overflow-x: hidden; overflow-y: auto; }
.individualLiveScore { display: none; }
.selectMatch { list-style: none; }
.selectMatch li { background: transparent; padding: 10px; -moz-box-shadow: #120e09 0 -10px 40px -10px inset; -webkit-box-shadow: #120e09 0 -10px 40px -10px inset; box-shadow: #866843 0 -10px 40px -10px inset;; }
.selectedLi { border-top: 4px solid #5554a2 !important; }
.containerForUL { position: absolute; left: 0; width: 20%; }
/* CSS FOR LIVE DATA END */

/* CSS FOR LOGIN SCREEN START */
.loginBlock { text-align: right; }
.loginBlock > div { display: inline-block; padding: 20px; margin-top: 5%; margin-right: 5%; border: 2px solid black; border-radius: 10px; font-family: sans-serif; }
.loginBlock > div td:nth-child(2n+1) { padding-right: 25px; }
.loginBlock > div input { border: 1px solid black; border-radius: 10px; padding: 5px 20px; background: transparent; }
.registerLink { position: absolute; right: 20px; top: 10px; color: #000000; font-size: 18px; font-weight: bold; font-family: sans-serif; }
#errorMessageBox { color: red; font-weight: bold; }
/* CSS FOR LOGIN SCREEN END */

/* CSS FOR REGISTER SCREEN START */
button { border-radius: 10px; border: 1px solid black; padding: 5px 10px; background: #7f8ada87; }
/* CSS FOR REGISTER SCREEN END */

/* CSS FOR LEAGUE SCREEN START */
#leagueList { position: absolute; width: 25%; overflow: auto; }
#leagueList ul { list-style: none; padding: 0; margin: 0; }
#leagueList ul li { color: black; padding: 10px 25px; width: 47%; float: left; margin: 0; text-decoration: none; position: relative; background: transparent; -moz-box-shadow: #120e09 0 -10px 40px -10px inset; -webkit-box-shadow: #120e09 0 -10px 40px -10px inset; box-shadow: #866843 0 -10px 40px -10px inset; }
#leagueInfo { position: absolute; width: 70%; left: 30%; overflow: auto; text-align: center; }
#leagueInfo table { width: 80%; }
#leagueInfo table th { padding: 7px 0; background: #6b9ea075; border-bottom: 1px solid grey; width: 20%; text-align: center; color: black; }
#leagueInfo table td { border: none; padding: 6px 10px 3px 10px; background: #abced036; border-bottom: 1px solid grey; height: 21px; color: black; font-size: 13px; font-weight: bold; }
p.namePl { margin: 0; font-weight: bold; }

.centralData { position: absolute; left: 35%; top: 35%; }
.popupRoles { width: 13px; padding: 0; margin: 0; }
.popupBowlCaptain { position: absolute; top: 60%; left: 40%; font-size: 10px; }
.popupFieldCaptain { position: absolute; top: 38%; left: 57%; font-size: 10px; }
.popupBatCaptain { position: absolute; top: 24%; left: 44%; font-size: 10px; }
.subsPopup {  position: absolute; top: 40%; left: 27%; font-size: 10px; }
/* CSS FOR LEAGUE SCREEN END */

/* CSS FOR PLAYER ADMIN SCREEN START */
.playerAdminBlock { position: absolute; width: 80%; left: 10%; text-align: center; top: 50px; }
.playerAdmin { display: inline-block; width: 96%; border: 1px solid grey; border-radius: 15px; padding: 2%; }
.playerAdmin table { width: 100%; }
.playerAdmin table th { color: #e4ff00; font-size: 20px; padding-bottom: 10px; }
.playerAdmin table th, .playerAdmin table td { text-align: left; }
.playerAdmin table th h3 { text-align: center; color: #e4ff00; font-size: 24px; margin: 0; border-bottom: 1px solid grey; }
.playerAdmin table td span { position: relative; top: -8px; left: 10px; }

.inputContainerAdmin { width: 40%; margin: 0 auto; z-index: 10; position: absolute; left: 30%; line-height: 35px; top: 10%; }
.inputContainerAdmin > .editPopup { background: yellow; border-radius: 10px; padding: 16px; }
.inputContainerAdmin > .editPopup table { width: 100%; }
.inputContainerAdmin .close { position: absolute; right: 5px; top: 5px; color: red; width: 30px; height: 30px; border: 2px solid #80862d; border-radius: 15px; text-align: center; }
/* CSS FOR PLAYER ADMIN SCREEN END */

/* CSS FOR ADMIN PAGES START */
.mainBlock { position: absolute; top: 5%; left: 5%; width: 90%; height: 90%; }
.seriesLeftBlock { position: absolute; left: 0; width: 30%; height: 100%; border: 1px solid black; overflow-y: auto; }
.seriesLeftBlock ul { list-style: none; width: 90%; padding: 5%; }
.seriesLeftBlock ul li { background: #8fad47; padding: 20px; border-bottom: 1px solid grey; }
.seriesDescription { position: absolute; left: 30%; width: 70%; height: 50%; border: 1px solid black; overflow-y: auto; }
.untaggedMatches { position: absolute; left: 30%; width: 70%; top: 50%; height: 50%; border: 1px solid black; overflow-y: auto; }
.untaggedMatches h3, .seriesDescription h3 { text-align: center; }
.untaggedMatches table, .seriesDescription table { width: 95%; text-align: left; padding-left: 5%; }
.untaggedMatches table span, .seriesDescription table span { margin: 0 0 0 10px; top: -8px; position: relative; }
#AddSeries { position: absolute; top: 4px; right: 5%; font-weight: bold; font-size: 22px; border: 1px solid grey; text-align: center; width: 30px; border-radius: 10px; }

/* CSS FOR ADMIN PAGES END */
.containerForSelectingRule { position: absolute; left: 0; width: 20%; }
.allRulesContainer { position: absolute; left: 20%; width: 80%; }
.allRules { position: absolute; left: 10%; top: 20px; bottom: 20px; left: 20px; right: 20px; border-radius: 10px; border: 1px solid white; overflow-x : hidden; overflow-y: auto; }
/* CSS FOR ADMIN RULES START */
.rulesContainer { text-align: left; display: none; }
.containerForSelectingRule ul { list-style: none; }
.allRulesContainer h3 { padding-left: 25px; }
.allRulesContainer li { cursor: grab; }
.redirectHome { position: absolute; z-index : 3; left: 20px; top: 5px; }
.containerForSelectingRule ul li { background: #8fad47; padding: 20px; border-bottom: 1px solid grey; }
/* CSS FOR ADMIN RULES START */

@media screen and (max-width: 1200px) {
  .myTeam, .teamList { width: 98%; }
  body { overflow: hidden; }
  * { font-size: 20px !important; }
  #mainContent { overflow: hidden; width: 90%; left: 4%; top: 50px; bottom: 0px; }
  .teamList { float: left; max-height: 50%; }
  .myTeam { max-height: 50%; margin-bottom: 1%; }
  .myTeam li, .centerTeamItems ul li { padding: 10px; }
  .boundary { left: 5%; width: 90%; }
  .allLiveScores { position: relative; left: 0 }
  .containerForUL { position: relative; left: 0; width: 100%; }
  .liveData { overflow: auto; }
}
@media screen and (min-width: 1201px) {
  #mainContent { bottom: 30px;}
}